<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About Us</a>
		<a href="/faq/">FAQ</a>
		{% block content %}
		{% endblock %}
	</body>
</html>