{% extends 'info/base.html' %}
{% block title %}Welcome Page{% endblock %}
{% block content %}
<h1>Welcome to this website</h1>
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
  <p>or</p>
  <a href="{% url 'signup' %}">sign up</a>
{% endif %}
{% endblock %}